<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Donate to Wuhan Union Hospital</title>
  <link rel="icon" href="assets/logos2.jpg">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <h1 class="font-weight-bold">Wuhan Union Hospital Donation Project Credit List <sup></sup></h1>
    <hr>
    <p>The Donation Team Would like to thank the following persons and organizations for making this donation project possible:</p>

    <h2 class="font-weight-bold mt-4 mb-3">Joint Technical Support & Website Development </h2>
    <h4>Leon Lu Liang</h4>
    <h2 class="font-weight-bold mt-4 mb-3">NCPA Student Government </h2>
    <h4>Wilson Yao Shunwei (Initiator)</h4>
    <h4>Nemo Zhou Xiangyu (Promotion)</h4>
    <h4>Hellen Cai Xianxuan</h4>
    <h4>Maria Ma Liya</h4>
    <h4>Lemon Lin Meng</h4>
    <h2 class="font-weight-bold mt-4 mb-3">National Honor Society NCPA Chapter </h2>
    <h4>Brenda Cai Le (Financial Management)</h4>
    <h4>Bill Xiong Jinyu (Financial Management)</h4>
    <h4>Lorraine Luo Zulin</h4>
    <h2 class="font-weight-bold mt-4 mb-3">NCPA Tri-M Music Honor Society </h2>
    <h4>Kelly Wu Tongxin (Hospital Communication)</h4>
    <h4>Anna Wen Fangdi (Hospital Communication)</h4>
    <h4>Steven Tao Sijie</h4>
    <h2 class="font-weight-bold mt-4 mb-3">NCPA Vibe </h2>
    <h4>Michael Zhou Jian Hong</h4>
    <h4>Johnny Meng Yuwei</h4>

    <br>
    <button class="btn btn-lg btn-primary mt-4 mb-0 px-5" onclick="window.history.back()">Back</button>

  </div>
  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
</body>
</html>