<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Donate for 2019-nCoV</title>
  <link rel="icon" href="assets/logos2.jpg">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <!--Left-->
    <h1 class="mb-xl-5 mb-4 text-center mt-1 font-weight-bold">Donate for Wuhan Union Hospital</h1>
    <div class="row">
      <!--Mobile-->
      <div class="col-lg-6 col-12 px-xl-5 px-lg-3 py-2 d-lg-none">

        <h3 class="font-weight-light">Fundraising Status 捐款总额</h3>
        <h3 class="text-right"><span class="display-4 font-weight-bold">¥ <%= moneyCount%></span><span class="font-weight-light small"> in total</span></h3>

        <h3 class="mt-3 font-weight-light">Time Remaining 剩余时间</h3>
        <h3 class="text-right"><span class="display-4 font-weight-bold" id="clock2"></span>
        </h3>

        <hr>

      </div>

      <!--Left-->
      <div class="col-lg-6 col-12 px-xl-5 px-xl-3 py-2" id="leftBox">

        <h2 class="font-weight-bold">Donation Form</h2>

        <form method="POST" action="../donate-req">

          <p class="mb-4"><span class="font-weight-bold">PLEASE READ FIRST 请先阅读: </span>This donation platform is designed for NCPA students, parents, and staff. To donate, first specify the amount that you are donating and pay by scanning the QR code. You must include your name and email in the payment remark. Then, fill out the rest of the form and hit "Submit". If you are a parent or a staff, choose "Other" for your grade. 该捐赠平台专为NCPA学生，家长和教职员工设计。 要捐款，请先指定您要捐款的金额，然后扫描二维码捐款。 您必须在付款备注中包括您的姓名和邮件地址。 然后，填写表格的其余部分，然后点击“提交”。 如果您是父母或员工，请把您的年级选择成“其他”。</p>

          <div class="form-group mt-3">
            <input type="text" required="required" id="fullName" name="fullName"/>
            <label for="input" class="control-label">Your Name 姓名 (Chinese AND English)</label><i class="bar"></i>
          </div>

          <div class="form-group mb-3">
            <input type="text" required="required" id="emailAddress" name="emailAddress"/>
            <label for="input" class="control-label">Your Email Address 邮件地址</label><i class="bar"></i>
          </div>

          <div class="form-group mt-0 mb-0">
            <span class="mr-1 mb-4 ">Grade 年级: </span>
            <br>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="9">
              <span>7</span>
            </label>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="9">
              <span>8</span>
            </label>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="9">
              <span>9</span>
            </label>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="10">
              <span>10</span>
            </label>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="11">
              <span>11</span>
            </label>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="12">
              <span>12</span>
            </label>
            <label class="pure-material-radio mr-1">
              <input type="radio" name="grade" required="required" value="12">
              <span>Other 其他</span>
            </label>
          </div>

          <div class="form-group mb-1 mt-3">
            <input type="number" required="required" id="donationAmount" name="donationAmount" step="0.01" min="0.01"/>
            <label for="input" class="control-label">Amount to Donate 捐款金额 (In RMB)</label><i class="bar"></i>
          </div>

          <div class="form-group mb-1 mt-3">
            <span class="mr-2 mb-3">Payment Method 捐款方式: </span>
            <br>
            <label class="pure-material-radio mr-2">
              <input type="radio" name="paymentMethod" required="required" value="Wechat Pay" onclick="document.getElementById('QRCode').src='assets/wechatpay.jpg'">
              <span>WeChat Pay 微信</span>
            </label>
            <label class="pure-material-radio mr-2">
              <input type="radio" name="paymentMethod" required="required" value="Alipay" onclick="document.getElementById('QRCode').src='assets/alipay.jpg'">
              <span>Alipay 支付宝</span>
            </label>
          </div>

          <div class="form-group mt-3">
            <textarea id="message" name="message" required></textarea>
            <label for="message" class="control-label">Your Message 你的留言 (Optional)</label><i class="bar"></i>
          </div>

          <div class="checkbox">
            <label class="pure-material-checkbox">
              <input type="checkbox" name="anonymousStatus" id="anonymousStatus">
              <span>Keep my donation private (If checked, your name, grade, and email will not be displayed on the donation list but will still be visible to the fundraising group.) 保持我的捐款不公开（如果选中，您的姓名，年级和电子邮件将不会显示在捐款列表中，但仍对筹款团队可见。）</span>
            </label>
          </div>

          <div class="checkbox mt-3">
            <label class="pure-material-checkbox">
              <input type="checkbox" name="confirmStatus" id="confirmStatus" required>
              <span>By checking this box, you confirm that you have entered the required information accurately and transferred the amount of money you have specified by scanning the QR code. Submitting the form without accurate information causes problems for the the fundraising group, which is totally not cool. 通过选中此框，您确认您输入了正确的信息，并通过扫描二维码转帐了指定的金额。 在没有准确信息的情况下提交表格会给筹款团队造成麻烦，这绝对不酷。</span>
            </label>
          </div>

          <!-- <div class="form-group" id="form-group-not-required">
            <textarea id="remark" id="remark" name="remark"></textarea>
            <label for="textarea" class="control-label">Remark</label><i class="bar"></i>
          </div> -->

          <input class="btn btn-lg btn-primary mt-3 px-5 font-weight-bold" onclick="document.getElementById('message').required = false; parseNumber()" type="submit"/>


        </form>

      </div>

      <!--Right-->
      <div class="col-lg-6 col-12 px-xl-5 px-lg-3 py-2">

        <div class="d-none d-lg-block">
          <h3 class="font-weight-light">Fundraising Status 捐款总额</h3>
          <h3 class="text-right"><span class="display-4 font-weight-bold">¥ <%= moneyCount%></span><span class="font-weight-light small"> in total</span></h3>

          <h3 class="mt-3 font-weight-light">Time Remaining 剩余时间</h3>
          <h3 class="text-right"><span class="display-4 font-weight-bold" id="clock"></span>
          </h3>

          <a class="btn btn-lg btn-secondary mt-lg-3 mr-3" href="data">Donation History</a>
          <a class="btn btn-lg btn-secondary mt-lg-3" href="info">Donation Information</a>
        </div>


        <hr class="mt-lg-4 mb-4">

        <h2 class="mt-3 mb-3 text-center font-weight-bold">Donation QR Code</h2>
        <p>If you wish to switch to Alipay, choose "Alipay" in the donation form. Please make sure that the payment remark includes your name and email and that the amount you paied matches the amount you have specified in the form. 如果您希望切换到支付宝，请在捐赠表格中选择“支付宝”。 请确保付款备注中包含您的姓名和电子邮件，并且您支付的金额与表格中指定的金额相符</p>
        <div class="mx-xl-5 text-md-center">
          <img class="img-fluid mt-2" id="QRCode" src="assets/wechatpay.jpg" alt="">
        </div>

        <div class="text-center d-lg-none">
          <a class="btn btn-lg btn-secondary mt-lg-3 mr-sm-3 mt-3" href="data">Donation History</a>
          <a class="btn btn-lg btn-secondary mt-lg-3 mt-3" href="info">Donation Information</a>
        </div>


        <h3 class="mt-xl-5 mt-lg-4 mt-4 font-weight-bold text-center">PRESENTED BY</h3>
        <img class="img-fluid" src="assets/logos.jpg" alt="">


      </div>

    </div>



  </div>



  <div class="credit-div">
    <p class="text-left credit-text float-left" style="width: 100%;">Server code: v1.0, Website: v1.3, initiated by Vibe, NHS, StuGo, and Tri-M, designed and programmed by Leon L, Copyright ©Humanity</p>
  </div>


  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
  <!-- Countdown -->
  <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
<!--   <script src="../public/js/main.js"></script>-->
  <script>
      $('#clock').countdown('2020/2/1', function(event) {
          var totalHours = event.offset.totalDays * 24 + event.offset.hours;
          $(this).html(event.strftime(totalHours + ':%M:%S'));
      });

      $('#clock2').countdown('2020/2/1', function(event) {
          var totalHours = event.offset.totalDays * 24 + event.offset.hours;
          $(this).html(event.strftime(totalHours + ':%M:%S'));
      });
      
      function parseNumber() {
        valueString = document.getElementById("donationAmount").value.toString()
        detectionStatus = false
        console.log(valueString)
        for (var i = 0; i < valueString.length; i++) {
          console.log(valueString[i])
          if (valueString[i] == ".") {
            detectionStatus = true
            console.log("detected")
          }
        }

        console.log(detectionStatus)
        if (detectionStatus == false) {
          console.log("parshing")
          document.getElementById("donationAmount").value = document.getElementById("donationAmount").value + ".00"
        }

      }

  </script>
</body>
</html>